// Шрифт
@font-face {
	font-family: "Bebas Neue";
	src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
	  url("../fonts/BebasNeueRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
 }


*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}

// Цвета - переменные 
$headerBackgroundColor:#635854;
$headerBorderBottom:#3596F5;
$navbarItemHoverColor:#3596F5;
$colorNavbar:#fff;
$counterButtonColor:#fff;
$mainTitleColor:#635854;
$floorCounterColor:#635854;
$buttonPrimaryBackgroundColor:#3596F5;
$buttonPrimaryColor:#fff;
$modalBackgroundColor:rgba(0, 0, 0, 0.8);
$modalDialogBackgroundColor:#fff;
$modalImageBackgroundColor:#EBEBEB;
$modalTitleColor:#000000;
$flatLinkColor:#635854;
$flatLinkColorHover:#3596F5;
$modalAlertColor:#635854;
$modalCloseButtonBackgroundColor:#fff;
$footerBackgroundColor:#D7D7D7;
$footerTextPhoneColor:#635854;
$footerLinkColor:#635854;

// Шрифты переменные
$mainTitle: "Bebas Neue",sans-serif;
$modalTitle:"Bebas Neue",sans-serif;
$flatLink:"Roboto";
$modalAlert:"Roboto";

.header{
	background-color:  $headerBackgroundColor;
	border-bottom: 4px solid $headerBorderBottom;
}
.navbar{
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	justify-content:space-between;
	align-items: center;
	
}

.navbar-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content:space-between;
	align-items:center;
	text-align: center;
}
.navbar-item {
	margin-left: 25px;
	margin-right: 25px;
	padding: 12px 15px 12px 15px;

	&:hover {
		background: $navbarItemHoverColor;
	}
}
.navbar-link {
	text-decoration: none;
	color: $colorNavbar;
}

.navbar-contacts {
	text-align: right;
}
.navbar-text {
	display:block;
	color:$colorNavbar;
	margin-bottom: 4px;
	font-size: 14px;
	line-height: 16px;
}
.navbar-phone {
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	text-decoration: none;
	color: $colorNavbar;

}

.main {
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 54px;
	display: flex;
}
.main-info{
	flex-grow: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: space-around;
}
.home-image path{
	opacity: 0;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}
}

path.current-floor {
	opacity: 1;
}

.counter-group {
	display:flex;
	flex-direction: column;
	align-items:center;
}

.counter-button {
	background-color: $counterButtonColor;
	border:none;
}

.main-title{
	margin: 0;
	font-family: $mainTitle;
	font-weight: normal;
	font-size: 37px;
	line-height: 44px;
	color: $mainTitleColor;
}

.counter-button {
	cursor: pointer;
}

.floor-counter {
	font-family: $mainTitle;
	color: $floorCounterColor;
	font-size: 124px;
	
}


.button-primary{
	background: $buttonPrimaryBackgroundColor;
	border-radius: 6px;
	color:$buttonPrimaryColor;
	border:none;
	padding: 16px 36px;
	cursor: pointer;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height:100%;
	background-color: $modalBackgroundColor;
	display: flex;
	justify-content: center;
	align-items:center;
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.2s;
}
.is-open {
	opacity: 1;
	transform: scale(1);
}

.modal-dialog {
	position: relative;
	max-width: 1000px;
	min-height: 565px;
	background-color:$modalDialogBackgroundColor;
	flex-grow: 1;
	display: flex;
	opacity: 0;
	transform:translateY(-10%);
	transition: transform 0.2s, opacity 0.2s;
	transition-delay: 0.2s;
}
.is-open > .modal-dialog{
	opacity: 1;
	transform:translateY(0);
}
.modal-image {
	background-color:$modalImageBackgroundColor;
	width: 60%;
	text-align: center;
	padding: 50px;
}

.flats path{
	opacity: 0;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}

.modal-title{
	font-family: $modalTitle;
	font-size: 24px;
	line-height: 24px;
	color: $modalTitleColor;
	margin-top: 0;
	margin-bottom: 25px;
}
.modal-info {
	width: 40%;
	padding: 50px 46px;
}

.flat-list {
	padding: 0;
	list-style: none;
	margin-top: 55px;
}
.flat-item {
	margin-bottom: 10px;
}
.flat-link {
	font-family: $flatLink;
	font-size: 16px;
	line-height: 19px;
	color: $flatLinkColor;
	text-decoration: none;
	&:hover {
		color: $flatLinkColorHover;
		text-decoration: underline;
	}
}
.modal-alert{
	font-family: $modalAlert;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: $modalAlertColor;
	margin-top: 56px;
}
.modal-close-button{
	position: absolute;
	right: 27px;
	top: 38px;
	cursor: pointer;
	border:none;
	background-color: $modalCloseButtonBackgroundColor;
}

.footer {
	text-align: center;
	background-color: $footerBackgroundColor;
	margin-top: 100px;
	
}
.footer-info {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.footer-logo{
	margin: 0;
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer-contacts {
	text-align: right;
	padding-left: 37px;
	padding-right: 70px;
}
.footer-text {
	display:block;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: $footerTextPhoneColor;
	
}
.footer-phone {
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	color: $footerTextPhoneColor;
	text-decoration: none;
}
.footer-social {

	a{
		padding-right: 15px;
		text-decoration: none;
	}
}
.footer-links{
	flex-grow: 1;
	text-align: right;
}
.footer-link {
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: underline;
	color: $footerLinkColor;
	padding-left: 20px;
}